@model PaginatedList<FAQEntity>
@{
    string view = "_UnansweredQuestions";   
}

@if (Model.Items.Count < 1)
{
    <div class="card-group">
        <div class="card card-default">
            <div class="card-body">
                <tr class="flex justify-space-center h-80vh align-center" >
                    <td colspan="3">
                        <h3 class="text-center mt-3 pt-3">@T("Plugins.F.A.Q.No_Questions_Found")</h3>
                    </td>
                </tr>
            </div>
        </div>
    </div>
   
}
else
{
    <div class="cards-group">
    <div class="card card-default">
    <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@T("Plugins.F.A.Q.Question")</th>
                            <th>@T("Plugins.F.A.Q.Product") </th>
                            <th>@T("Plugins.F.A.Q.Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filters-->
                        <div class="flex justify-space-evenly align-center">

                            <div class="flex align-center g10 m10">
                                <div class="flex align-center">
                                    <label for="pageSize" class="mx-3">@T("Plugins.F.A.Q.Page_Size"):</label>
                                    <input id="pageSize+@view" hidden value="@ViewBag.pageSize" />
                                    <input hidden id="hiddenProductName" value="@ViewBag.ProductName"/>
                                    <select style="max-width:70px; display: inline-block;" onchange="handleChange(1, '@view')" id="@view" class="form-control">
                                        <option>@ViewBag.pageSize</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="0">Show All</option>
                                    </select>
                                </div>
                                <div class="flex align-center">

                                    <input hidden name="view" id="filterView" value="@view" />
                                    <label for="productQuery" style="margin-right: 10px;"></label>
                                    <input class="form-control" id="@($"{view}Param")" value="@ViewBag.ProductName" placeholder=@T("Plugins.F.A.Q.Search_By_Product_Name") name="productName" required style="margin-right: 10px;" />
                                    <button class="btn btn-secondary" onclick="handleChange(1, '@view')">@T("Plugins.F.A.Q.Search")</button>

                                </div>
                            </div>

                        </div>


                        @foreach (var faq in Model.Items)
                        {
                            <tr>
                                <td>@faq.Question</td>
                                <td>
                                    <a target="_blank" href="@Url.Action("Edit", "Product", new { id = faq.ProductId })">@faq.ProductName</a>
                                </td>

                                <td >
                                    <span class=" flex-inline align-center">
                                        <div class="btn-group" role="group">
                                        <button class="btn btn-success btn-sm mb-2" onclick="openEditModal('@Html.Raw(JavaScriptEncoder.Default.Encode(faq.Question))', '@faq.Id', '', '_UnansweredQuestions')">@T("Plugins.F.A.Q.Give_Answer")</button>
                                        <button class="btn btn-danger btn-sm mb-2" onclick="confirmDelete('@faq.Id','@view')">@T("Plugins.F.A.Q.Delete")</button>

                                        </div>
                                    </span>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>

                <!--If it doesnt have a previous page and a next page , then its on the first page , and when its on the first page ,there is no need to show the page number-->
                @if (Model.ShowPages)
                {

                    <nav>
                        <ul class="pagination">

                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="#" data-page="@(Model.PageIndex - 1)" data-view="@view">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" href="#" data-page="@i" data-view="@view">@i</a>
                                </li>
                            }
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="#" data-page="@(Model.PageIndex + 1)" data-view="@view">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }

                


    </div>

    </div>

    </div>
     }
  
